@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

:root {
    --main-color-blue: #064BAC;
    --logo-text-color: #002F8E;
    --house-logo-left-roof: #0053b1;
    --house-logo-right-roof: #0074d2;
    --house-logo-left-wall: #002f8e;
    --house-logo-right-wall: #53a4f0;
    --house-logo-floor: #00106d;
    --nav-text-color: #333;
    --main-font: 'Open Sans', sans-serif;
    --nav-font: 'lato', sans-serif;
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;    
}

img{
    width: 100%;
    height: auto;
}

html{
    font-size: 10px;
    font-family: var(--main-font);
}

.header{
    width: 100%;
    margin-bottom: 2rem;
}

.header .header-bottom .selected{
    border-bottom: .1rem solid var(--main-color-blue);
}

.header .socials{
    width: 100%;
    height: .2rem;
    background-color: var(--main-color-blue);
}

.header .socials .right{
    display: none;
}

.header .header-mid {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: center;
    -webkit-box-shadow: 1px 1px 2px rgb(0 0 0 / 11%);
}

.header .header-mid .logo{
    width: 35rem;
}

.header .header-bottom{
    width: 100%; 
    box-shadow: 1px 1px 2px rgb(0 0 0 / 11%);
    -webkit-box-shadow: 1px 1px 2px rgb(0 0 0 / 11%);
    display: flex;
    justify-content: center;
}

.header .header-bottom .navbar{
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

.header .header-bottom .navbar .desktop-view{
    display: none;
}

.header .header-bottom .navbar .nav-item{
    padding: 1rem 1.3rem;
    transition: all .3s ease-in-out;
}

.header .header-bottom .navbar .nav-item i{
    display: inline;
}

.header .header-bottom .navbar .tier-2{
    display: none;
}

.header .header-bottom .navbar .tier-3{
    display: none;
}

.header .header-bottom .navbar .nav-item:hover{
    background-color: var(--house-logo-right-wall);
}

.header .header-bottom .navbar .nav-item a{
    color: rgba(34, 34, 34, 0.87);
    letter-spacing: 0.1rem;
}

.header .header-bottom .navbar .nav-item:hover a{
    color: white;
}

.header .header-bottom .navbar .nav-item span{
    margin-right: 0.2rem;
}

.news-section{
    width: 100%;
    padding: 0rem 1.8rem;
}

.news-section .articles{
    font-family: var(--main-font);
}

.news-section .articles .article-item{
    margin-bottom: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: lighter;
    border-bottom: .1rem solid rgba(128, 128, 128, 0.336);
}

.news-section .articles .article-item > *{
    margin-bottom: 1.2rem;
}
.news-section .articles .article-item a{
    color: black;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}
.news-section .articles .article-item .article-date-author{
    padding-left: 1.5rem;
    display: flex;
    font-size: 1.2rem;
    color:rgba(0, 0, 0, 0.842)
}

.news-section .articles .article-item .article-title span{
    color:rgba(0, 0, 0, 0.692);
}
.news-section .articles .article-item .article-date-author i{
    font-size: 1rem;
    color: #0074d2c7;
    margin-right: 0.4rem;
}

.news-section .articles .article-item .article-date-author .date{
    margin-right: 2rem;
}
.news-section .articles .article-item .article-more-button:hover{
    background-color: var(--house-logo-left-roof);
    border: 0.1rem solid transparent;;
}


@media (min-width: 580px) { 
    .header .header-mid {
        padding-top: 2.5rem;
        padding-bottom: 2.7rem;
    }
    
    .header .header-mid .logo{
        width: 38rem;
    }
    .news-section{
        display: flex;
        justify-content: center;
    }
    .news-section .articles{
        width: 80%;
    }

    .header .header-bottom .navbar{
        font-size: 1.6rem;
        font-weight: lighter;
        text-transform: capitalize;
    }
}

@media (min-width: 800px){
    .header{
        width: 100%;
        margin-bottom: 6rem;
    }
    
    .header .header-bottom .navbar .nav-item i{
        display: none;
    }
    .header .header-bottom .navbar .tier-2{
        display: block;
    }
    
    .header .header-bottom .navbar .tier-3{
        display: none;
    }
    
    .header .socials{
        width: 100%;
        height: 2.3rem;
        background-color: var(--house-logo-left-roof);
        display: flex;
        justify-content: space-between;
        padding: 0 2rem;
        align-items: center;
    }
     
    .header .socials .right{
        display: flex;
        flex-direction: row;
    }

    .header .socials .right p{
        color: whitesmoke;
    }

    .header .socials .right > *{
        color: whitesmoke;
        margin-right: 2rem;
    }

    .header .socials .right i{
        font-size: 1.2rem;
    }

}

@media (min-width: 1204px){
    .news-section .articles{
        width: 60%;
    }
    .header .header-bottom .navbar .tier-2{
        display: block;
    }
    
    .header .header-bottom .navbar .tier-3{
        display: block;
    }
}